.aside {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  padding: 20px;
  color: #fff;
  width: 300px;
  display: flex;
  align-items: center;
}

.content {
  margin-left: 300px;
}

.content-title {
  margin: 100px;
}

.content-body {
  margin: 100px;
}

.profile {
  text-align: center;
}

.name {
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0;
}

.bio {
  font-size: 0.8em;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.social {
  justify-content: center;
}
.thumbnail {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.thumbnail img {
  min-height: 100%;
  min-width: 100%;
}

.portfolio {
  margin: 60px auto;
}

.portfolio .col-img-small {
  margin: 15px 0;
}

.portfolio .col-img-small img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  cursor: pointer;
}
